// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.

      var regions = <%= Region.all.to_json.html_safe %>;

      //////// GOOGLE MAPS

      function googleMap(elementId, zoom = 6){

          var centre = {
              4: {lat: 48.710275, lng: 5.165206},
              5: {lat: 54.4808, lng: -2.2426},
              6: {lat: 53.536806, lng: -2.941057}
          }
          if (typeof centre[zoom] !== 'undefined') {
              var coords = centre[zoom];
          }else{
              var coords = centre['6'];
          }

          if (typeof google === 'object' && typeof google.maps === 'object') {

              var map = new google.maps.Map($('#'+elementId)[0], { 
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  zoom: zoom,
                  center: coords,
                  zoomControl: true,
                  mapTypeControl: false,
                  scaleControl: false,
                  streetViewControl: false,
                  rotateControl: false,
                  fullscreenControl: true
              });
              map.markers = [];
            
              map.data.setStyle(function(feature) {
                let region = regions.find(region => region.name === feature.getProperty('nuts118nm'));
                return {
                  fillColor: region.colour,
                  fillOpacity: 0.4,
                  strokeWeight: 2
                }
              });
            
              return map;
          }
          
      }

      function addMapMarker(props, map, color){

          if(props.latitude && props.longitude && typeof google === 'object' && typeof google.maps === 'object'){

              var LatLng = new google.maps.LatLng(props.latitude, props.longitude);
              //Add marker to map
            
              let markerProps = {...{
                  map: map,
                  position: LatLng,
                  icon: {
                      url: "https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_"+color+".png"
                      //size: new google.maps.Size(20,34),
                      //origin: new google.maps.Point(0, 0),
                      //anchor: new google.maps.Point(10,34)
                  },
                  infowindow: new google.maps.InfoWindow({
                      content: '<div class="infowindow">'+props.infoContent+'</div>'
                  })
              }, ...props}
            
              var marker = new google.maps.Marker(markerProps);

              map.markers.push(marker);

              //Add listener to detect clicks that will open the info window
              google.maps.event.addListener(marker, 'click', (function(marker){
                  return function() {
                      hideAllInfoWindows(map);
                      marker.infowindow.open(map, marker);
                  };
              })(marker, marker.infowindow));

              return marker;            
          }else{
              return false;
          }
      }
      function hideAllInfoWindows(map) {
          map.markers.forEach(function(marker) {
              marker.infowindow.close(map, marker);
          }); 
      }
      