<h1>Debrief due</h1>

<p>It's time for your team to self-assess its progress on <%= @iteration.title %>.</p>

<ol>
  <li>Have one person open the <%= link_to 'team debrief form', new_project_iteration_debrief_url(@iteration.project, @iteration) %> and use it to guide a quick chat with team members.</li>
  <li>For each outcome select a rating based on the group's rough consensus.</li>
  <li>Add a brief description of why the rating has been given and what you've learned.</li>
  <li>Submit the form!</li>
</ol>